<article>
	<h3>
		<a href="{{post.url}}">{{post.title}}</a>
	</h3>

	<div class="meta">
		<time datetime="{{ post.date }}">{{ post.date | date: "%-d %b %Y" }}</time>
		<span class="post-author">{{ post.author }}</span>
	</div>

{% if post.searchexcerpt %}
	<p>{{ post.searchexcerpt }}</p>
{% else %}
	<p>{{ post.content | strip_html | truncatewords:50}}</p>
{% endif %}
	<!--<a href="{{post.url}}">Read more</a>-->
</article>

<!--<h3>-->
	<!--<a class="archive_list_article_link" href='{{post.url}}'>{{post.title}}</a>-->
<!--</h3>-->
<!--<div class="post-details">-->
	<!--<span class="post-author">{{ post.author }} — </span>-->
	<!--<span class="post-date">{{ post.date | date: "%-d %b %Y" }}</span>-->
<!--</div>-->

