<form id="webform-client-form-1196"  method="post" action="https://script.google.com/a/macros/digital.gov.au/s/AKfycbyERn4wgFLo208la7GaYBWNGZn8qz1_LXbHXwVZrsFtUmdqGFQ/exec">
	<fieldset>
		<p class="lead-in">A couple of things you need to know:</p>
		<ul>
			<li><strong>We don’t have responsibility for procurement</strong> on behalf of the Australian Government. So save your sales pitch!</li>
			<li><strong>We are interested in hearing about solutions</strong> to some of the big problems we’re trying to fix.</li>
			<li><strong>Before you get in touch, please make sure you’ve read and understand our <a href="/pages/standard">Digital Service Standard</a></strong> and have a clear idea of how your work will help us achieve these objectives.</li>
		</ul>
		
		<p>If you’d like to express interest in working with us, please send us your details below:</p>

		<!--Field for name-->
		<label for="name">Name <span class="form-required" title="This field is required.">(mandatory)</span></label>
		<input required="true" type="text" id="name" name="name" value="" size="60" maxlength="128" class="form-text required">
	
		<!--Field for organisation-->
		<label for="organisation">Organisation <span class="form-required" title="This field is required.">(mandatory)</span></label>
		<input required="true" type="text" id="organisation" name="organisation" value="" size="60" maxlength="128" class="form-text required">
	
		<!--Field for email-->
		<label for="email">Email <span class="form-required" title="This field is required.">(mandatory)</span></label>
		<input required="required" class="email form-text form-email required" type="email" id="email" name="email" size="60">
	
		<!--Field for phone-->
		<label for="phone">Phone</label>
		<input type="text" id="phone" name="phone" step="any" class="form-text form-number">
	
		<!--Field for phone-->
		<label for="website">Website</label>
		<input type="text" id="website" name="website" value="" size="60" maxlength="128" class="form-text">
	
		<!--Field for government panel-->
		<label for="are-you-on-a-federal-government-panel-business">Are you on a federal government panel? <span class="form-required" title="This field is required.">(mandatory)</span></label>
		
		<input required="required" type="radio" id="are-you-on-a-federal-government-panel-3" name="are_you_on_a_federal_government_panel" value="yes" class="form-radio"> <label class="option" for="are-you-on-a-federal-government-panel-3">Yes</label>
		
		<input required="required" type="radio" id="are-you-on-a-federal-government-panel-4" name="are_you_on_a_federal_government_panel" value="no" class="form-radio"> <label class="option" for="are-you-on-a-federal-government-panel-4">No</label>
		
		<!--Field for expertise-->
		<label for="what-are-your-areas-of-expertise">What are your areas of expertise? <span class="form-required" title="This field is required.">(mandatory)</span></label>
		<textarea required="true" id="what-are-your-areas-of-expertise" name="what_are_your_areas_of_expertise" cols="60" rows="10" class="form-textarea required"></textarea>
		
		
		<!--Field for business size-->
		<label for="what-is-the-size-of-your-business">What is the size of your business? <span class="form-required" title="This field is required.">(mandatory)</span></label>
		
		<input required="required" type="radio" id="what-is-the-size-of-your-business-5" name="what_is_the_size_of_your_business" value="micro" class="form-radio"> <label class="option" for="what-is-the-size-of-your-business-5">Micro Business - less than 5 people</label>
		
		<input required="required" type="radio" id="what-is-the-size-of-your-business-6" name="what_is_the_size_of_your_business" value="small" class="form-radio"> <label class="option" for="what-is-the-size-of-your-business-6">Small Business - 5-19 people</label>
		
		<input required="required" type="radio" id="what-is-the-size-of-your-business-7" name="what_is_the_size_of_your_business" value="medium" class="form-radio"> <label class="option" for="what-is-the-size-of-your-business-7">Medium business - 20-200 people</label>
		
		<input required="required" type="radio" id="what-is-the-size-of-your-business-8" name="what_is_the_size_of_your_business" value="large" class="form-radio"> <label class="option" for="what-is-the-size-of-your-business-8">Large business - more than 200 people</label>
		
	</fieldset>
	
	<input type="hidden" name="form" value="business"/>
	<div class="form-actions">
		<input class="webform-submit button-primary form-submit" type="submit" id="uploadFile" value="Submit"/>
 	</div>
 	
</form>