<form id="webform-client-form-1436" method="post" action="https://script.google.com/macros/s/AKfycbyERn4wgFLo208la7GaYBWNGZn8qz1_LXbHXwVZrsFtUmdqGFQ/exec">
	<fieldset>
    
    	<p>As part of designing and building the Digital Marketplace, we will be actively engaging with a range of people about their experiences of and ideas about government procurement of digital and technology services. Please register using the form below if you are interested.</p>
		<p class="lead-in">A couple of things you need to know:</p>
		    <ul>
				<li>The <a href="http://www.innovation.gov.au/page/digital-marketplace">Digital Marketplace</a> will be an online directory of digital and technology services for government agencies to procure information technology (IT) solutions. More information can be found can be found on the <a href="/blog/making-it-easier-for-startups-and-sme-to-help-government/">DTA Blog</a>.</li>
				<li>A prototype version of the marketplace will be available in 2016.</li>
				<li>While we are improving the user experience of procurement, we are not in charge of day to day government procurement. All questions about ICT related procurement should be directed to the <a href="mailto:ictprocurement@finance.gov.au">Department of Finance ICT Procurement team</a> or relevant area.</li>
		    </ul>
    
		<p>If you’d like to work with us, please register using the form below:</p>

		<!-- Field for name-->
		<label for="name">Name <span class="form-required" title="This field is required.">(mandatory)</span></label>
		<input required="true" type="text" id="name" name="name" value="" size="60" maxlength="128" class="form-text required"/>
		
		<!-- Field for organisation-->
		<label for="organisation">Organisation <span class="form-required" title="This field is required.">(mandatory)</span></label>
		<input required="true" type="text" id="organisation" name="organisation" value="" size="60" maxlength="128" class="form-text required">
      
		<!-- Field for email-->
		<label for="email">Email <span class="form-required" title="This field is required.">(mandatory)</span></label>
		<input required="required" class="email form-text form-email required" type="email" id="email" name="email" size="60">

		<!-- Field for phone-->
		<label for="phone">Phone <span class="form-required" title="This field is required.">(mandatory)</span></label>
		<input required="required" type="text" id="phone" name="phone" step="any" class="form-text form-number required">

		<!-- Field for website-->
		<label for="website">Website <span class="form-required" title="This field is required.">(mandatory)</span></label>
		<input required="true" type="text" id="website" name="website" value="" size="60" maxlength="128" class="form-text required">

		<!--Field for government panel-->
		<label for="are-you-on-a-federal-government-panel">Are you on a federal government panel? <span class="form-required" title="This field is required.">(mandatory)</span></label>

		<input required="required" type="radio" id="are-you-on-a-federal-government-panel-1" name="are_you_on_a_federal_government_panel" value="yes" class="form-radio"> <label class="option" for="are-you-on-a-federal-government-panel-1">Yes</label>
		
		<input required="required" type="radio" id="are-you-on-a-federal-government-panel-2" name="are_you_on_a_federal_government_panel" value="no" class="form-radio"> <label class="option" for="are-you-on-a-federal-government-panel-2">No</label>

		<!--Field for business size-->
		<label for="what-is-the-size-of-your-business">What is the size of your business? <span class="form-required" title="This field is required.">(mandatory)</span></label>

		<input required="required" type="radio" id="what-is-the-size-of-your-business-1" name="what_is_the_size_of_your_business" value="micro" class="form-radio"> <label class="option" for="what-is-the-size-of-your-business-1">Micro Business - less than 5 people</label>

		<input required="required" type="radio" id="what-is-the-size-of-your-business-2" name="what_is_the_size_of_your_business" value="small" class="form-radio"> <label class="option" for="what-is-the-size-of-your-business-2">Small Business - 5-19 people</label>

		<input required="required" type="radio" id="what-is-the-size-of-your-business-3" name="what_is_the_size_of_your_business" value="medium" class="form-radio"> <label class="option" for="what-is-the-size-of-your-business-3">Medium business - 20-200 people</label>

		<input required="required" type="radio" id="what-is-the-size-of-your-business-4" name="what_is_the_size_of_your_business" value="large" class="form-radio"> <label class="option" for="what-is-the-size-of-your-business-4">Large business - more than 200 people</label>

	</fieldset>
    
	<input type="hidden" name="form" value="digital-marketplace"/>
	
	<div class="form-actions">
		<input class="webform-submit button-primary form-submit" type="submit" id="uploadFile" value="Submit"/>
	</div>
	
</form>	