<footer role="contentinfo">
  <div class="wrapper">

    <section class="footer-top">
      <nav>
        <ul>
          <li><h2>Resources</h2></li>
          <li><a href="/what-we-do/">What we do</a></li>
          <li><a href="/standard/">Digital Service Standard</a></li>
          <li><a href="/standard/design-guides/">Design guides</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/news/">News</a></li>
          <li><a href="https://github.com/AusDTO" class="github">github.com/AusDTO</a></li>
        </ul>
        <ul>
          <li><h2>About</h2></li>
          <li><a href="/about/">About us</a></li>
          <li><a href="/contact/">Contact us</a></li>
          <li><a href="/who-we-are/corporate/jobs/">Jobs</a></li>
          <li><a href="/budget/">Budget initiatives</a></li>
          <li><a href="/freedom-of-information/">Freedom of Information</a></li>
          <li><a href="/who-we-are/corporate/contracts/">List of contracts</a></li>
          <li><a href="/who-we-are/corporate/annual-report/">Annual Report</a></li>
        </ul>
        <ul>
          <li><h2>Using dta.gov.au</h2></li>
          <li><a href="/search/">Search</a></li>
          <li><a href="/accessibility">Accessibility</a></li>
          <li><a href="/copyright">Copyright</a></li>
          <li><a href="/privacy-statement/">Privacy</a></li>
          <li><a href="/disclaimer/">Disclaimer</a></li>
        </ul>
        <ul>
          <li>
            {% include signup.html %}
          </li>
        </ul>
      </nav>
    </section>

    <section>
      <div class="footer-logo">
        <img alt="Australian Government Coat of Arms" src="/images/coat-of-arms.png">
      </div>
      <div class="footer-links">
        <nav>
          <ul>
            <li><a href="#">Back to top &uarr;</a></li>
          </ul>
        </nav>

        <p>&copy; Commonwealth of Australia</p>
      </div>
    </section>

  </div>
</footer>
