<footer role="contentinfo">
  <div class="wrapper">

    <section class="footer-top">
      <nav>
        <ul>
          <li><h2>Resources</h2></li>
          <li><a href="{{site.baseurl}}/what-we-do/">What we do</a></li>
          <li><a href="{{site.baseurl}}/standard/">Digital Service Standard</a></li>
          <li><a href="{{site.baseurl}}/standard/design-guides/">Design guides</a></li>
          <li><a href="{{site.baseurl}}/blog/">Blog</a></li>
          <li><a href="{{site.baseurl}}/news/">News</a></li>
          <li><a href="https://github.com/AusDTO" class="github">github.com/AusDTO</a></li>
        </ul>
        <ul>
          <li><h2>About</h2></li>
          <li><a href="{{site.baseurl}}/who-we-are/">Who we are</a></li>
          <li><a href="{{site.baseurl}}/contact/">Contact us</a></li>
          <li><a href="{{site.baseurl}}/who-we-are/corporate/jobs/">Jobs</a></li>
          <li><a href="{{site.baseurl}}/what-we-do/budget/">Budget initiatives</a></li>
          <li><a href="{{site.baseurl}}/who-we-are/corporate/freedom-of-information/">Freedom of Information</a></li>
          <li><a href="{{site.baseurl}}/who-we-are/corporate/contracts/">List of contracts</a></li>
          <li><a href="{{site.baseurl}}/who-we-are/corporate/annual-report/">Annual Report</a></li>
        </ul>
        <ul>
          <li><h2>Using dta.gov.au</h2></li>
          <li><a href="{{site.baseurl}}/search/">Search</a></li>
          <li><a href="{{site.baseurl}}/accessibility">Accessibility</a></li>
          <li><a href="{{site.baseurl}}/copyright">Copyright</a></li>
          <li><a href="{{site.baseurl}}/privacy-statement/">Privacy</a></li>
          <li><a href="{{site.baseurl}}/disclaimer/">Disclaimer</a></li>
        </ul>
        <ul>
          {% unless page.url == "/signup/" %}
          <li>
            {% include signup.html %}
          </li>
          {% endunless %}
        </ul>
      </nav>
    </section>

    <section>
      <div class="footer-logo">
        <img alt="Australian Government Coat of Arms" src="{{ site.baseurl }}/images/coat-of-arms.png">
      </div>
      <div class="footer-links">
        <nav>
          <ul>
            <li><a href="#">Back to top &uarr;</a></li>
          </ul>
        </nav>

        <p>&copy; Commonwealth of Australia</p>
      </div>
    </section>

  </div>
</footer>
