<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/images/icons/favicon.ico">

  <!-- Social/unfurl  http://ogp.me/ , https://dev.twitter.com/cards/types/summary-->
  <meta property="og:locale" content="en_AU" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:type" content="Website" />
  <meta property="og:image" content="{{ site.url }}{% asset_path dta-unfurl %}" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:description" content="{% if page.searchexcerpt %}{{ page.searchexcerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="{% if page.searchexcerpt %}{{ page.searchexcerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:site" content="@DTO" />
  <meta name="twitter:image" content="{{ site.url }}{% asset_path dta-unfurl %}" />

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta name="description" content="{% if page.searchexcerpt %}{{ page.searchexcerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="creator" content="Digital Transformation Agency">

  {% if page.author %}<meta name="author" content="{{ page.author}}">{% endif %}

  <meta name="type" content="Text">
  <meta name="modified" content="{{ page.date | date: "%b %-d, %Y" }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  {% include google_fonts.html %}

  {% css main %}

  <noscript>{% css no-script %}</noscript>

  <!--[if lt IE 9]><script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js'></script><![endif]-->
  <!--[if lt IE 8]><style>body{margin:0; font-family:sans-serif;}.ua-notification {display: block;padding: 0.8em;text-align: center;background-color: #f9c642;color: #313131;font-size: rem(17); margin-top:0;}</style><![endif]-->

  <script>
  (function (h) {
    h.className = h.className.replace('no-js', 'js')
  })(document.documentElement)
  </script>

  {% if page.knowledge_schema %}
  <!-- Schema for Google knowledge graph -->
  <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Digital Transformation Agency",
  "url" : "https://www.dta.gov.au",
  "logo": "https://www.dta.gov.au/images/dta-snippet-logo.png",
  "sameAs" : [
    "https://twitter.com/{{ site.twitter }}",
    "https://www.linkedin.com/company/digital-transformation-office",
    "https://www.youtube.com/channel/UCmDkFN3UlK2wSKDQQhd-Y-A",
    "http://www.slideshare.net/DTO-slides"
  ],
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://www.dta.gov.au/search/?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
{% endif %}
</head>
