<header role="banner">
  <section class="page-header">
    <div class="wrapper">
      <div class="page-header__logo">
        {% if page.url == "/" %}
          <img src="{{ site.baseurl }}/images/logo_dta_inline.svg" alt="Digital Transformation Agency logo">
        {% else %}
          <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/images/logo_dta_inline.svg" alt="">
            <span>Digital Transformation Agency homepage</span>
          </a>
        {% endif%}
      </div>
      {% unless include.hide-search %}
      <div class="site-search">
        <form action="/search/" role="search" method="get">
          <label for="site-search-text">Search dta.gov.au</label>
          <div class="site-search-border">
            <input type="search" name="q" id="site-search-text" title="Search" class="search-input"/>
            <input class="submit" type="submit" value="Search"/>
          </div>
        </form>
      </div><!--site-search-->
      {% endunless %}
      {% unless include.hide-site-nav %}
      <div class="site-nav">
        <nav id="nav" class="site-nav__wrapper" aria-label="global navigation">
          <ul>
            <li><a href="{{site.baseurl}}/what-we-do/">What we do</a></li>
            <li><a href="{{site.baseurl}}/who-we-are/">Who we are</a></li>
            <li><a href="{{site.baseurl}}/standard/">Digital Service Standard</a></li>
            <li><a href="{{site.baseurl}}/news/">News</a></li>
            <li><a href="{{site.baseurl}}/blog/">Blog</a></li>
            <li><a href="{{site.baseurl}}/who-we-are/corporate/jobs/">Jobs</a></li>
          </ul>
        </nav>
      </div><!--site-nav-->
      {% endunless %}
    </div><!--wrapper-->
  </section>

</header>
