<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
{% unless page.layout == 'fullscreen' %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endunless %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/images/icons/favicon.ico">
  <meta name="creator" content="Digital Transformation Agency">
  <meta name="type" content="Text">
  <meta name="modified" content="{{ page.date | date: "%b %-d, %Y" }}">
  {% if page.author %}<meta name="author" content="{{ page.author}}">{% endif %}
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@{{ site.twitter }}" />

{% if page.title %}
  <title>{{ page.title }} | DTA | Australian Government</title>
  <meta property="og:title" content="{{ page.title | xml_escape }}" />
  <meta name="twitter:title" content="{{ page.title | xml_escape }}" />
{% else %}
  <title>{{ site.title }} | Australian Government</title>
  <meta property="og:title" content="{{ site.title | xml_escape }}" />
  <meta name="twitter:title" content="{{ site.title | xml_escape }}" />
{% endif %}

{% assign url= page.url | prepend: site.baseurl | prepend: site.url %}
  <link rel="canonical" href="{{ url }}">
  <meta property="og:url" content="{{ url }}" />

{% if page.facebook-image %}
  {% assign facebook-image-url = page.facebook-image | prepend: site.baseurl | prepend: site.url %}
{% elsif page.hero-image %}
  {% assign facebook-image-url = page.hero-image | prepend: site.baseurl | prepend: site.url %}
{% else %}
  {% assign facebook-image-url = '/images/dta-unfurl.png' | prepend: site.baseurl | prepend: site.url %}
{% endif %}

{% if page.twitter-image %}
  {% assign twitter-image-url = page.twitter-image | prepend: site.baseurl | prepend: site.url %}
{% elsif page.hero-image %}
  {% assign twitter-image-url = page.hero-image | prepend: site.baseurl | prepend: site.url %}
{% else %}
  {% assign twitter-image-url = '/images/dta-unfurl.png' | prepend: site.baseurl | prepend: site.url %}
{% endif %}

  <meta property="og:image" content="{{ facebook-image-url }}" />
  <meta name="twitter:image" content="{{ twitter-image-url }}" />

{% if page.searchexcerpt %}
  {% assign description = page.searchexcerpt | markdownify | strip_html %}
{% elsif page.url == "/" %}
  {% assign description = site.description %}
{% endif %}
{% if description %}
  <meta name="description" content="{{ description | xml_escape }}">
  <meta property="og:description" content="{{ description | xml_escape }}" />
  <meta name="twitter:description" content="{{ description | truncate:160 | xml_escape }}" />
{% endif %}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  {% include google_fonts.html %}

  {% css main %}

  <noscript>{% css no-script %}</noscript>

  <!--[if lt IE 9]>{% javascript html5shiv-3.7.3 %}<![endif]-->
  <!--[if lt IE 8]><style>body{margin:0; font-family:sans-serif;}.ua-notification {display: block;padding: 0.8em;text-align: center;background-color: #f9c642;color: #313131;font-size: rem(17); margin-top:0;}</style><![endif]-->

  <script>
  (function (h) {
    h.className = h.className.replace('no-js', 'js')
  })(document.documentElement)
  </script>

  <!-- Schema for Google knowledge graph -->
  <script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "Digital Transformation Agency",
  "url" : "https://www.dta.gov.au",
  "logo": "https://www.dta.gov.au/images/dta-snippet-logo.png",
  "sameAs" : [
    "https://twitter.com/{{ site.twitter }}",
    "https://www.linkedin.com/company/digital-transformation-office",
    "https://www.youtube.com/channel/UCmDkFN3UlK2wSKDQQhd-Y-A",
    "http://www.slideshare.net/DTO-slides"
  ],
  "potentialAction": {
    "@type": "SearchAction",
    "target": "https://www.dta.gov.au/search/?q={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
  </script>

  {% unless site.url == 'https://www.dta.gov.au' %}
    <!-- These lines are added on local and staging sites to prevent Google indexing results and to verify the site on Search Console. -->
    <meta name="robots" content="noindex">
    <meta name="google-site-verification" content="nzOeUJ7ZKJlvq-I3sUWnHMZdGEM75W2H0gSL0jrFsP0" />
  {% endunless %}
</head>
