<header class="govau--header">
  <div class="wrapper">
    <div class="govau--logo">
      <a href="/" class="logo-image">
        {% image logo_dta_inline.svg alt:"Australian Digital Transformation Agency logo" %}
      </a>
      <!-- <a href="/" class="logo">
        Digital Transformation Agency
      </a> -->
    </div>
    <nav class="inline-links--inverted" aria-label="global navigation">
      <ul class="global-navigation">
        <li><a href="/what-we-do/">What we do</a></li>
        <li><a href="/who-we-are/">Who we are</a></li>
        <li><a href="/for-digital-service-teams/">For digital service teams</a></li>
        <li><a href="/news/">News</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
