<header class="dto--header">
  <div class="wrapper">
    <div class="dto--logo">
      <a href="/" class="logo-image">Digital Transition Agency</a>
    </div>

    <div class="site-search">
      <form id="search" class="" action="/search" role="search">
        <label for="site-search-text">Search dta.gov.au</label>
        <div class="site-search-border">
          <input type="search" name="q" id="site-search-text" title="Search" class="search-input" />
          <input class="submit" type="submit" value="Search" />
        </div>
      </form>
    </div><!--site-search-->
  </div>

  <!-- <a href="#" class="nav-toggle" aria-hidden="false">Menu</a> -->
  <nav id="nav" aria-label="global navigation">
    <ul class="global-navigation">
      <li><a href="/what-we-do/">What we do</a></li>
      <li><a href="/who-we-are/">Who we are</a></li>
      <li><a href="/standard/">Digital Service Standard</a></li>
      <li><a href="/news/">News</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/who-we-are/corporate/jobs/">Jobs</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </nav>
</header>
