{% comment %}
This include can be instead of a heading, and will generate a heading that can be linked to, as well as an
optional "Back to top" link and <hr>

Parameters:
- lvl = The heading level to create e.g. 1
- text = The heading text
- hide-back-to-top = (Optional) If set, the Back to top link is not inserted
- insert-hr = (Optional) Insert an <hr> above the heading
- id = (Optional) override the heading_id
example usage:
{% include hx.html lvl=2 text="This is my heading" hide-back-to-top=1 %}

{% endcomment %}

{% if include.id %}
  {% assign heading_id = include.id %}
{% else %}

  {% comment %}
  The only known way to get the id of the heading that matches the id created in markdown is using markdownify:
  1. Generate the heading as a markdown string e.g "## My heading"
  2. Convert it to html using markdownify
  3. Extract the id
  {% endcomment %}

  {% capture hashes %}{% for i in (1..include.lvl) %}#{% endfor %}{% endcapture %}
  {% assign heading_md = hashes | append: ' ' | append: include.text %}
  {% assign heading_html = heading_md | markdownify %}
  {% assign heading_split = heading_html | split: '"' %}
  {% assign heading_id = heading_split[1] %}
{% endif %}

{% unless include.hide-back-to-top %}
<div class="back-to-top-link">
  <a href="#content">Back to top &uarr;</a>
</div>
{% endunless %}

{% if include.insert-hr %}
<hr />
{% endif %}

<h{{ include.lvl }} id="{{ heading_id }}"><a href="#{{ heading_id }}" class="headline-slug-link">{{ include.text }}</a></h{{ include.lvl }}>

{% comment %}{{ heading_md | markdownify }}{% endcomment %}
