{% assign url = post.url %}
{% if include.post.external-url %}
  {% assign url = include.post.external-url%}
{% endif %}
<li style="list-style-type:none">
  <article>

    <div class="meta">
      <time datetime="{{ post.date }}">{{ include.post.date | date: "%-d %b %Y" }}</time>
      {% if include.show-category %}
        {% if include.post.category contains "ict-procurement" %}
      <a href="{{site.baseurl}}/news/">ICT procurement updates</a>
        {% endif %}
      {% endif %}

    </div>
    <div class="link">
      <a class="list-item-link" href="{{ url }}">
        <h3><span>{{ include.post.title }}</span></h3>
      </a>
      {% if post.searchexcerpt %}
        <p>{{ post.searchexcerpt | markdownify | strip_html }}</p>
      {% else %}
        <p>{{ post.content | strip_html | truncatewords:30}}</p>
      {% endif %}
    </div>


    {% if include.show-tags and include.post.tags.size > 0 %}
    <footer class="tags">
      <dl>
        <dt>Tags:</dt>
        {% for tag in include.post.tags %}
          {% if tag != '' %}
          <dd><a href="{{site.baseurl}}{{site.tag_dir}}/{{tag | slugify }}/" >{{tag}}</a></dd>
          {% endif %}
        {% endfor %}
      </dl>
    </footer>
    {% endif %}
  </article>
</li>
