{% assign url = post.url %}
{% if include.post.external-url %}
  {% assign url = include.post.external-url%}
{% endif %}
<li>
  <article>
    <div class="link">
      <a class="list-item-link" href="{{ url }}">
        <figure>
          {% if include.post.thumbnail %}
          <img class="blog-thumbnail" src="{{site.baseurl}}{{ include.post.thumbnail }}" alt="">
          {% else %}
          <img class="blog-thumbnail" src="{{site.baseurl}}/images/post-thumbnail-placeholder.png" alt="">
          {% endif %}
        </figure>
        <h3><span>{{ include.post.title }}</span></h3>
      </a>
    </div>
    <div class="meta">
      <time datetime="{{ post.date }}">{{ include.post.date | date: "%-d %b %Y" }}</time>
      {% if include.show-category %}
        {% if include.post.category contains "blog" %}
      <a href="{{site.baseurl}}/blog/">Blog</a>
        {% else %}
      <a href="{{site.baseurl}}/news/">News</a>
        {% endif %}
      {% endif %}
      {% if include.show-author %}
      <div class="author">{{ include.post.author }}</div>
      {% endif %}
    </div>

    {% if include.show-tags and include.post.tags.size > 0 %}
    <footer class="tags">
      <dl>
        <dt>Tags:</dt>
        {% for tag in include.post.tags %}
          {% if tag != '' %}
          <dd><a href="{{site.baseurl}}{{site.tag_dir}}/{{tag | slugify }}/" >{{tag}}</a></dd>
          {% endif %}
        {% endfor %}
      </dl>
    </footer>
    {% endif %}
  </article>
</li>
