	<div class="post-category"><a href="/blog/{{ post.tags[0] | replace: 'gov.au', 'gov-au' }}/">{{ post.tags[0] | replace: 'gov.au', 'GOV.AU' | replace: 'dto-news', 'DTO News' }}</a></div>
	<div class="post-date">{{ post.date | date: "%-d %b %Y" }}</div>
	{% if post.thumbnail %}
		{% assign img_src = post.thumbnail %}
	{% else %}
		{% assign img_src = "/images/blog-thumbnails/blog-thumbnail-placeholder.png" %}
	{% endif %}
	<a href="{{post.url}}"><img class="blog-thumbnail" alt="{{ post.title }}" src="{{ img_src }}"></a>
<h3>
	<a class="archive_list_article_link" href='{{post.url}}'>{{post.title}}</a>
</h3>