{% assign localnav = layout.localnav %}
{% if page.localnav %}
    {% assign localnav = page.localnav %}
{% endif %}

{% if localnav or page.layout == 'guide' %}
<aside class="sidebar">
    <nav class="local-nav" aria-label="main navigation">
        <h1 class="is-visuallyhidden">Menu</h1>
        <ul>
            {% if localnav == 'digital-service-standard' %}
                {% assign items = site.data.digital-service-standard_localnav %}
            {% elsif localnav == 'digital-service-standard-criteria' %}
                {% assign items = site.data.digital-service-standard-criteria_localnav %}
            {% elsif localnav == 'authentification-frameworks' %}
                {% assign items = site.data.authentification-frameworks_localnav %}
            {% elsif localnav == 'common-website-elements' %}
                {% assign items = site.data.common-website-elements_localnav %}
            {% elsif localnav == 'budget' %}
                {% assign items = site.data.budget_localnav %}
            {% elsif localnav == 'our-work' %}
                {% assign items = site.data.our-work_localnav %}
            {% elsif localnav == 'corporate' %}
                {% assign items = site.data.corporate_localnav %}
            {% elsif localnav == 'who-we-are' %}
                {% assign items = site.data.who_we_are_localnav %}
            {% endif %}

            {% for item in items %}
                {% include localnav-markup.html %}
            {% endfor %}

            {% if page.layout == 'guide' %}
            {% include related-guides.html %}
            {% endif %}
        </ul>
    </nav>
</aside>

{% endif %}
