
{% assign url = post.url %}
{% if post.external-url %}
  {% assign url = post.external-url%}
{% endif %}

<figure>

{% if post.thumbnail %}
  <a href="{{ url }}">
    <img src="{{ post.thumbnail }}" alt="Read post {{ post.title }}" />
  </a>
{% endif %}
</figure>
<article>
  <h3>
    <a href="{{ url }}">{{ post.title }}</a>
  </h3>
  <div class="meta">
    <time datetime="{{ post.date }}">{{ post.date | date: "%-d %b %Y" }}</time>
    <span>{{ post.author }}</span>
  </div>

{% if post.searchexcerpt %}
  <p>{{ post.searchexcerpt }}</p>
{% else %}
  <p>{{ post.content | strip_html | truncatewords:50}}</p>
{% endif %}
{% if include.show-tags %}
  <footer class="tags">
    <dl>
      <dt>Tags:</dt>
      {% for tag in post.tags %}
      <dd><a href="{{ site.baseurl }}/{{ site.tag_dir }}/{{ tag | slugify }}">{{ tag }}</a></dd>
      {% endfor %}
    </dl>
  </footer>
{% endif %}
</article>