<div>
    <form id="search-form" action="{{site.baseurl}}/search/" method="get">
        <label for="search-query">Search dta.gov.au</label>
        <input name="q" id="search-query" type="text" autocomplete="on"/>
        <input type="submit" value="Search">
    </form>
</div>

<section id="search-results" class="search-results" style="display: none;">
    <h2>Search results</h2>
    Sorted by relevance
    <div class="entries">
    </div>
</section>

{% raw %}
<script id="search-results-template" type="text/mustache">
  <ul class="list-horizontal">
  {{#entries}}
    <li>
      <article>
        <h3>
          <a href="{{ url }}">{{title}}</a>
        </h3>
        <a class="url" href="{{ url }}">https://www.dta.gov.au{{ url }}</a>
        <div class="meta">
          {{#date}}<time datetime="{{ pubdate }}">{{ displaydate }}</time>{{/date}}
          {{#author}}<span rel="author">{{ author }}</span>{{/author}}
        </div>
        <p>{{ searchexcerpt }}</p>
      </article>
    </li>
  {{/entries}}
  </ul>
</script>
{% endraw %}

