<div class="social-links">

<h2>Share this post</h2>

<!--twitter-->
<a class="twitter footnote-links-ignore" href="https://twitter.com/share?text={{page.title | replace: ' ', '%20'}}&amp;url={{site.url}}{{page.url}}&amp;via=aus_dto">Share on Twitter</a>

<!--facebook-->
<a class="facebook footnote-links-ignore" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}">Share of Facebook</a>

<!--linkedin-->
<a class="linkedin footnote-links-ignore" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title | replace: ' ', '%20' }}&source={{ site.title | replace: ' ', '%20' }}">Share on LinkedIn</a>

<!--email-->
<a class="email footnote-links-ignore" href="mailto:?subject={{ page.title | replace: ' ', '%20' }}&amp;body={{ site.url }}{{ page.url }}">Share via email</a>

</div>