<div class="social-media-links">

  <h2>Share on social media</h2>
  <ul class="social-media-links">
    <li><a class="twitter" href="https://twitter.com/share?text={{page.title | replace: ' ', '%20'}}&amp;url={{site.url}}{{page.url}}&amp;via=dto">Twitter</a></li>
    <li><a class="facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}">Facebook</a></li>
    <li><a class="linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title | replace: ' ', '%20' }}&source={{ site.title | replace: ' ', '%20' }}">LinkedIn</a></li>
    <li><a class="youtube" href="https://www.youtube.com/channel/UCmDkFN3UlK2wSKDQQhd-Y-A">YouTube</a></li>
    <li><a class="email footnote-links-ignore" href="mailto:?subject={{ page.title | replace: ' ', '%20' }}&amp;body={{ site.url }}{{ page.url }}" title="Share via email">Email</a></li>
  </ul>

</div>
