<script>
  // Set the code from SurveyMonkey as a function.
  function surveyFunction() {
    (function(e,t,n,s){var o,c,r;e.SMCX=e.SMCX||[],t.getElementById(s)||(o=t.getElementsByTagName(n),c=o[o.length-1],r=t.createElement(n),r.type="text/javascript",r.async=!0,r.id=s,r.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/_2BxqIBmg14FESkRQqnqj5xxFDUj7ddhxqwQOMdIwusUffPxPKmLRLrzieGdO_2FPr1k.js"].join(""),c.parentNode.insertBefore(r,c))})(window,document,"script","smcx-sdk");
  }

  // Run the surveyFunction after 90 seconds.
  window.setTimeout(surveyFunction, 90000);
</script>
