{% assign pages = site.teams | sort:"weight"  %}

{% for team in pages %}
<details open data-label="content-accordion-{{team.title | slugify}}" aria-expanded="false">
	<summary>{{team.title}}</summary>
	<div class="accordion-panel">
		{{team.content}}
	{% for email in team.contact-email %}
		<a href="mailto:{{ email }}?subject={% if team.email-subject %}{{team.email-subject | replace: ' ', '%20'}}{% else %}{{team.title | replace: ' ', '%20'}}{% endif %}">{{ email }}</a>
		{% unless forloop.last %} | {% endunless %}
	{% endfor %}
	</div>
</details>  	  
{% endfor %}