---
layout: default
title: News
searchexcerpt: News from the Digital Transformation Agency.
permalink: /news/
---
<h1 class="page-heading">News</h1>
{% assign count = site.categories['media-release'] | size %}
{% if count > 0 %}
<h2>Latest media releases</h2>
    <ul class="post-list short">
        {% for post in site.categories['media-release'] limit:3 %}
        <li>
            <h3>
                <a class="archive_list_article_link" href='{{post.url}}'>{{post.title}}</a>
            </h3>
            <div class="post-details">
                <span class="post-date">{{ post.date | date: "%-d %b %Y" }}</span>
            </div>
        </li>
        {% endfor %}
    </ul>
    <a class="see-all" href="/news/media-releases">See all media releases</a>
{% endif %}

<h2>Latest DTA news</h2>
<ul class="post-list">
    {% assign news = site.empty-array %}
    {% for post in site.posts %}
        {% if post.categories contains 'blog' %}
            {% if post.tags contains 'dto-news' or post.tags contains 'dta-news' %}
                {% assign news = news | push: post %}
            {% endif %}
        {% elsif post.categories contains 'news' and post.categories contains 'dta-news' %}
            {% assign news = news | push: post %}
        {% endif %}
    {% endfor %}

    {% for post in news limit:3 %}
    <li>
        {% include blog-teaser.html %}
    </li>
    {% endfor %}
</ul>
<a class="see-all" href="/news/dta-news">See all DTA news</a>

