---
layout: basic
title: News
searchexcerpt: News from the Digital Transformation Agency.
permalink: /news/
---

<h2>Latest news</h2>
<ul class="list-horizontal">
  {% assign news = site.empty-array %}
  {% for post in site.posts %}
    {% if post.categories contains 'blog' %}
      {% if post.tags contains 'dta-news' %}
        {% assign news = news | push: post %}
      {% endif %}
    {% elsif post.categories contains 'news' %}
      {% assign news = news | push: post %}
    {% endif %}
  {% endfor %}

  {% for post in news limit:3 %}
  <li>
    {% include post-list-item.html %}
  </li>
  {% endfor %}
</ul>
<p>
  <a class="see-all" href="/news/all/">See all news</a>
</p>
<p>
<a class="see-all" href="{{site.baseurl}}{{ site.tag_dir }}/dto-news/">See previous DTO news</a>
</p>
