---
layout: default
breadcrumb: Blog
title: Latest blog posts
searchexcerpt: Read the latest blog posts from the Digital Transformation Agency.
permalink: /blog/
---
<h1>Latest blog posts</h1>

<div class="latest-blogposts">
  <div class="row">
	{% for post in site.categories['blog'] limit:3 %}
	  <div class="col-sm-4">
		  {% include latest-blogposts.html %}
	  </div>
	{% endfor %}
  </div>
  <div class="row">
	{% for post in site.categories['blog'] limit:2 offset:3 %}
	  <div class="col-sm-4">
		  {% include latest-blogposts.html %}
	  </div>
	{% endfor %}
	<div class="col-sm-4">
	<h2 class="other-blogposts-title"><span>Other blog posts</span></h2>
	<ul class="other-blogposts">
	{% for post in site.categories['blog'] limit:3 offset:5 %}
			<li>{% include other-blogposts.html %}</li>
	{% endfor %}
	</ul>
	<a class="see-all" href="/blog/all-posts/">See all blog posts</a>
	</div>
  </div>
</div>

<h2>DTO Blogs</h2>
<ul class="specialised-blog-list">
  <li>
  <h2><a href="/blog/gov-au/">GOV.AU blog</a></h2>
  <p>Read the latest news about the development of the GOV.AU project.</p>
  </li>
  <li>
  <h2><a href="/blog/dto-news/">DTO News</a></h2>
  <p>Keep up-to-date with the latest news from the Digital Transformation Office.</p>
  </li>
</ul>


<aside>
	{% include subscribe.html %}
	
	<div class="moderation-policy">
	  	<h2>Join the conversation</h2> 
	  	<a href="/blog/blog-moderation-guidelines/">Read our comment moderation guidelines</a>
	</div>
	
</aside>

<!-- disqus comment count script -->
<script id="dsq-count-scr" src="https://ausdto.disqus.com/count.js" async></script>

<!-- mailchimp subscribe init scripts -->
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
