details {
  width: 40em;
  margin: $base-spacing 0 $large-spacing;
  background: $non-white;
  summary[aria-controls] {
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: $bold-font-weight;
      font-size: rem(20);
      margin: 0;
      padding: 0;
    }
  }
}