.annual-report-progress {
  margin-top: $large-spacing;
  border-top: solid 1px $light-grey;
  max-width: 38em;
  @include clearfix;
  ul {
    list-style: none;
    margin-top: $small-spacing;
    padding-left: 0;
    li {
      text-align: center;
      a {
        display: inline-block;
        @include media($tablet) {
          //max-width:16em;
        }
      }
      div:first-child {
        font-weight: bold;
      }
    }
  }
  @include media($tablet) {
    .previous {
      float: left;
      width: 16em;
    }
    .next {
      float: right;
      width: 16em;
    }
  }

}

.annual-report {
  .boxed {
    max-width: 36em;
    margin: $base-spacing 0;
    @include media($tablet) {
      margin: $base-spacing $small-spacing;
    }

    padding: $medium-spacing $medium-spacing $medium-spacing $base-spacing;
    color: $non-black;
    background: $non-white;
    h2, h3 {
      margin-top: 0;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }
  .notes {
    font-size: $small-font-size;
    dl {
      @include media($mobile) {
        margin-bottom: 0;
        dt {
          display: inline-block;
          vertical-align: top;
          font-weight: bold;
          width: 20%;
          margin: 0 0 $tiny-spacing 0;
          &:last-child {
            margin-bottom: 0;
          }
        }
        dd {
          display: inline-block;
          width: 79%;
          margin: 0 0 $tiny-spacing 0;
          margin-bottom: $tiny-spacing;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .financial-notes-index {
    p {
      padding-left: ($base-spacing * 2.2);
      margin-bottom: $tiny-spacing;
    }
    ol {
      counter-reset: item
    }
    li {
      display: block
    }
    li:before {
      content: counters(item, ".") ". ";
      counter-increment: item
    }
  }
}
