.blog-subscribe {
	a {
		display:inline-block;
		font-size:16px;
		overflow:hidden;
		margin-bottom:0;
		text-decoration:underline;
		margin-top:10px;
	}
	#mc-embedded-subscribe-form {
		padding:0;
		input {
			-webkit-appearance:none;
			-moz-appearance:caret;
			border-radius:0;
		}
		.mc-field-group {
			width:100%;
			overflow:hidden;
				input {
				float:left;
				&.email {
					width:100%;
					font-size:15px;
					margin-bottom:10px;
				}
				&.button {
					margin-top:0;
				}
			}
		}
		.mce_inline_error {
			font-size:15px;
		}

		//form validation response
		.response {
			font-size:15px;
			color:#fff;
			padding:38px 15px 15px;
			a {
				font-size:15px;
				color:#fff;
			}
		}
		#mce-success-response:before, #mce-error-response:before {
			font-family: FontAwesome;
			font-size:20px;
			margin-top:-32px;
			position:absolute;
		}
		#mce-success-response {
			background-color:green;
			&:before {
				content:'\f058';
			}
		}
		#mce-error-response {
			background-color: $dta-red;
			&:before {
				content:'\f057';
			}
		}

	}
}
