.criteria-heading {

  background-color:$dto-blue;
  padding:25px 20px 5px 88px;
  color:#fff;
   
  h1 {
    font-size:33px;
    line-height:1;
    color:#fff;

    span {
      position:absolute;
      left:20px;
      font-size:50px;
      font-weight:700;
      text-align:center;
      width:77px;
      line-height:1;
    }
    
  }
  
  .criteria-subtitle {
    
  }
  
}