.dss-glossary {
  h2 {
    padding-bottom: $base-spacing;
  }
  dl{
    padding-bottom: $base-spacing * 2;
    border-bottom: 1px solid $border-soft-colour;
  }
  .index-links{
    margin-bottom: $base-spacing * 2;
  }

}