footer[role='contentinfo'] .footer-logo img {
  height: 100px;
  width: auto;
}

.footer-top {
  .blog-subscribe {
    @include media($tablet) {
      @include span-columns(3 of 12);
    }

    .email {
      margin-bottom: $small-spacing;
    }
  }
}
