// This has been added because we need to break to the ‘mobile’ menu earlier
// than what the current $tablet breakpoint offers (768px).
$tablet-landscape: 1000px;

.lt-ie9 .dto--header .logo-image {
  width: 523;
  height: 130px;
  background-color: transparent;
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='images/logo_dta_inline.png',
    sizingMethod='cover');
  margin-bottom: $base-spacing;
}

.dto {
  &--header {
    @include linear-gradient(to top, $non-white, $white, $fallback: $non-white);

    border-bottom: 6px solid #dceaef;

    .logo-image {
      background: url('images/logo_dta_inline.svg');

      background-size: 100%;
      background-repeat: no-repeat;
      width: 80%;
      height: 130px;
      display: block;
      margin: 0 auto $base-spacing auto;

      background-color: transparent;
      border: 0;
      overflow: hidden;
      text-indent: -9999px;

      @include media($mobile-only) {
        margin-bottom: 0;
      }

      @include media($tablet-landscape) {
        @include span-columns(4 of 12);
      }

      @include media($desktop) {
        @include span-columns(6 of 16);

        height: 150px;
      }

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }

    .site-search {
      margin: $base-spacing 0;

      @include media($mobile) {
        @include span-columns(8 of 8);

        margin-top: 0;
      }
      @include media($tablet) {
        @include span-columns(12 of 12);
      }
      @include media($desktop) {
        @include span-columns(6 of 16);

        margin-top: $base-spacing * 2.5;
        margin-bottom: 0;
        float: right;
      }
    }

    nav {
      clear: both;
      background-color: $white;

      @include media($tablet) {
        @include wrapper-padding;
        @include outer-container;

        margin-bottom: 1em;
        background-color: transparent;
      }

      .global-navigation {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;

        @include media($tablet-landscape) {
          display: inline-block;
          }

        li {
          margin-bottom: 0;
          padding: 0;
          border-top: 2px solid $border-colour;

          &:hover {
            background-color: $dta-blue--lightest;
          }

          @include media($tablet-landscape) {
            display: inline-block;
            margin: 0 $tiny-spacing;
            border-top: none;

            &:first-of-type {
              margin-left: -($small-spacing);
            }

            &:hover {
              background-color: transparent;
            }
          }

          a {
            display: block;
            padding: $medium-spacing $gutter;
            text-decoration: none;
            font-weight: bold;
            color: $black;

            @include media($tablet-landscape) {
              display: inline;
              margin: 0;
              padding: $small-spacing $small-spacing 18px $small-spacing;
              border-top: none;
              background-color: transparent;

              &:hover,
              &:focus {
                background-color: transparent;
                border-bottom: 6px solid $dta-blue--light;
              }
            }
          }
        }
      }
    }
  }
}
