
header[role='banner'] {
  .page-header__logo {
    width: 523px;
    height: 130px;
    display: block;
    margin: 0 auto $base-spacing auto;

    img.hidden {
      display: none;
    }

    @include media($mobile-only) {
      margin-bottom: 0;
      width: 100%;
      max-width: 400px;
    }

    @include media($tablet) {
      max-width: 45%;
      float: left;
    }

    @include media($desktop) {
      max-width: 500px;
      height: 150px;
    }

    a {
      border-bottom: none;
      display: block;
      &:focus {
        background-color: $light-aqua;
      }
      &:hover {
        background-color: transparent;
        border-bottom: solid 5px $light-aqua;
        transition: none;
      }
    }

    img {
      padding: 0;
    }
  }

  .site-search {
    @include media($mobile) {
      width: 100%;
      float: none;
      margin-top: 0;
    }
    @include media($tablet) {
      float: right;
      max-width: 40%;
      margin-top: $base-spacing;
    }
    @include media($desktop) {
      max-width: 450px;
      margin-top: $base-spacing * 2;
    }
  }

  .site-nav {
    clear: left;

    @include ie-lte(9) {
      @include ie-clearfix;
    }
  }
}
