.home-heading {
  border-bottom: 6px solid $light-aqua;
  padding-bottom: $tiny-spacing;
}

.about-dta {
  .abstract {
    max-width: 25 * $base-spacing;
    border-bottom: 0;
  }
}

.what-we-do {
  .list-vertical--thirds {

    li {
      border-top: none;
      border-left: solid 1px $grey;
      padding: $small-spacing 0 $small-spacing $base-spacing;
      margin-bottom: $base-spacing;

      p {
        margin-bottom: 0;
      }
    }
  }
}

.homepage-footer {
  @include outer-container;

  .leadership {
    //@include span-columns(12 of 12);

    @include media($tablet) {
      @include span-columns(6 of 12);
    }
  }

  .social-media {
    //@include span-columns(12 of 12);

    @include media($tablet) {
      @include span-columns(6 of 12);
    }

    .social-media-links {
      a {
        display: inline-block;
      }
    }
  }
}
