.latest-post-list {
  a {
    border-bottom: initial;
    &:hover {
      background-color: initial;
    }

    img {
      margin-bottom: $tiny-spacing;
    }
    h3 {
      margin-bottom: 0;
      span {
        border-bottom: solid 1px $light-aqua;
        &:hover {
          background-color: $light-aqua;
        }
      }
    }
  }

  div.meta {
    display: inline-block;
    padding-top: $small-spacing;
    order: initial;
    time {
      display: inline-block;
    }
    a {
      margin-left: $tiny-spacing;
      border-bottom: solid 1px $light-aqua;
      &:hover {
        background-color: $light-aqua;
      }
    }
  }
}
