.page-group-title {
  display: block;
  font-size: rem(16);
  font-weight: normal;
  color: $grey;

  @include media($tablet) {
    font-size: rem(17);
    padding-bottom: $base-spacing;
  }
}

.back-to-index-link {
  display: block;
  font-size: $small-font-size;
  float: right;
  margin-top: 0;
}
