// Custom styling for the blog page.
//
// Arguably some of these styles should not be necessary if UI-Kit targeted
// these elements differently.

.post-header {
  .post-title {
    margin-bottom: $tiny-spacing;
  }
  .post-meta {
    margin-bottom: $base-spacing * 1.25;
  }
  .tags {
    // Copy-pasta'd from UI-Kit
    @include link-colours($button-bg-colour, $link-colour--hover, $link-colour);
    color: $grey;

    dl,
    dt,
    dd {
      display: inline-block;
      margin: 0;
      padding: 0;
      line-height: $base-heading-leading * 1.5; // Revisit.
    }

    dt,
    dd {
      margin-right: $tiny-spacing;
      font-size: $small-font-size;
    }

    a {
      padding: 2px $tiny-spacing;
      border: 1px solid $button-bg-colour;
      border-radius: 2px;

      &:hover,
      &:focus {
        border-color: $link-colour--hover;
      }
    }

  }
  h1,
  p,
  img {
    max-width: none !important;
  }
}

.post-body {
  padding-bottom: $base-spacing;
  border-bottom: 1px dotted $border-colour;

  img.shadow {
    border-radius: $tiny-border-radius;
    box-shadow: 0 0 8px $light-grey;
  }
  &.dta-download {
    @include media($desktop) {
      p {
        padding-left: 41%;
        img {
          margin-left: -100%;
        }
      }
      img {
        float: left;
        width: 94%;
        height: auto;
        margin-right: $medium-spacing;
        margin-bottom: $medium-spacing;
      }
    }
  }
}

.post-author-bio {
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
  padding-top: $small-spacing;
  padding-bottom: $base-spacing;
  border-bottom: 1px solid $border-colour;

  img {
    float: left;
    height: 64px;
    width: 64px;
    border-radius: 32px;
    margin-right: $medium-spacing;
    margin-bottom: $base-spacing;
  }
  .author-excerpt {
    margin-bottom: $small-spacing;
  }
  .author--twitter {
    padding-bottom: $base-spacing;
  }

}

.post-moderation-policy {
  h2 {
    margin-bottom: $tiny-spacing;
  }
  margin-bottom: $base-spacing;
}

.blog-aside {
  #mc_embed_signup {
    @include button-colours($button-bg-colour, $button-bg-colour--hover, $button-bg-colour--active, $button-text-colour);

    margin-bottom: $base-spacing;

    .email {
      margin-bottom: $small-spacing;
    }
  }

  a {
    @include link-colours($non-black, $light-aqua, $non-black);
  }
}

// refactor this with homepage styles
span.tags {
  margin-left: $tiny-spacing;
}
