
.transformation-agenda {
  .index-links {
    h2 {
      font-size: rem(17);
      font-weight: $base-font-weight;
    }
  }
  .list-vertical--thirds {
    h4 {
      font-size: rem(18);
      margin-top: 0;
      @include ie-lte(8) {
        font-size: 18px;
      }
    }
  }
  .roadmap {
    width: 100%;
    a {
      border-bottom: 0;
    }
    a:hover {
      background-color: initial;
    }
  }

  .latest-news {
    h3,
    div,
    p {
      flex: 0 0 100%;
      font-size: rem(18);
      margin-top: 0;
    }
    div.meta {
      display: inline-block;
      padding-top: $small-spacing;
      time {
        display: inline-block;
      }
      .tags {
        margin-left: $tiny-spacing;
      }
    }

  }

}

