---
layout: default
gov-speak: true
---
<div class="annual-report">

  <h1>
    <span class="page-group-title">Annual Report 2015-16</span>
    {{ page.title }}
  </h1>

  {{ content }}

  <div class="back-to-top-link">
    <a href="#content">Back to top &uarr;</a>
  </div>

  {% if page.doc-nav.previous or page.doc-nav.next%}
  <div class="page-group-progress">
    <ul>
      {% if page.doc-nav.previous %}
      <li class="previous">
        <a href="{{ page.doc-nav.previous.href}}">Previous page</a>
        <div>{{page.doc-nav.previous.title}}</div>
      </li>
      {% endif %}
      {% if page.doc-nav.next %}
      <li class="next">
        <a href="{{page.doc-nav.next.href}}">Next page</a>
        <div>{{page.doc-nav.next.title}}
        </div>
      </li>
      {% endif %}
  </div>
  {% endif %}

</div>
