---
layout: default
localnav: digital-service-standard
---

<div class="assessment-report">
  <h1 class="page-title">{{ page.title }} &mdash; {{ page.assessment-stage }} assessment</h1>

  {% if page.report-excerpt %}
  <div class="lede">
    <p>{{ page.report-excerpt }}</p>
  </div>
  {% endif %}
  <div class="callout">
    <dl class="key-value">
    {% if page.department %}
      <dt>Department / Agency</dt><dd>{{ page.department }}</dd>
    {% endif %}
    {% if page.date %}
      <dt>Date of Assessment</dt><dd>{{ page.date | date: '%e %B %Y' }}</dd>
    {% endif %}

    {% if page.self-assessment == true %}
      <dt>Assessment type</dt><dd>Self-assessed</dd>
    {% else %}
      <dt>Assessment type</dt><dd>Digital Transformation Agency-led</dd>
    {% endif %}

    {% if page.assessment-stage %}
      <dt>Assessment stage</dt><dd>{{ page.assessment-stage }}</dd>
    {% endif %}

    {% if page.result %}
      <dt>Result of Assessment</dt><dd>{{ page.result }}</dd>
    {% endif %}

    {% if page.lead-assessor %}
      <dt>Lead Assessor</dt><dd>{{ page.lead-assessor }}</dd>
    {% endif %}

    {% if page.service-manager %}
      <dt>Service Manager</dt><dd>{{ page.service-manager }}</dd>
    {% endif %}

    {% if page.product-manager %}
      <dt>Product Manager</dt><dd>{{ page.product-manager }}</dd>
    {% endif %}
  </dl>

    {% include assessment-reports/related-assessment-reports.html %}

  </div>

  {{ content }}

  <h2>Assessment against the Digital Service Standard</h2>
  <table class="content-table">
    <caption>Assessment result for each criteria</caption>
    <thead>
      <tr><th scope="col">Criteria</th><th scope="col">Result</th></tr>
    </thead>
    <tbody>
      <tr><td>1</td><td>{{ page.criteria-1-result }}</td></tr>
      <tr><td>2</td><td>{{ page.criteria-2-result }}</td></tr>
      <tr><td>3</td><td>{{ page.criteria-3-result }}</td></tr>
      <tr><td>4</td><td>{{ page.criteria-4-result }}</td></tr>
      <tr><td>5</td><td>{{ page.criteria-5-result }}</td></tr>
      <tr><td>6</td><td>{{ page.criteria-6-result }}</td></tr>
      <tr><td>7</td><td>{{ page.criteria-7-result }}</td></tr>
      <tr><td>8</td><td>{{ page.criteria-8-result }}</td></tr>
      <tr><td>9</td><td>{{ page.criteria-9-result }}</td></tr>
      <tr><td>10</td><td>{{ page.criteria-10-result }}</td></tr>
      <tr><td>11</td><td>{{ page.criteria-11-result }}</td></tr>
      <tr><td>12</td><td>{{ page.criteria-12-result }}</td></tr>
      <tr><td>13</td><td>{{ page.criteria-13-result }}</td></tr>
      {% if page.criteria-14-result %}
      <tr><td>14</td><td>{{ page.criteria-14-result }}</td></tr>
      {% endif %}
    </tbody>
  </table>
</div>