<!DOCTYPE html>
<!--[if IE 7]>         <html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="{{ page.lang | default: site.lang | default: "en" }}" class="no-js"> <!--<![endif]-->

  {% include head.html %}

  <body {% if page.url == "/" %} class="home"{% endif%}>

    <!-- Compatibility message --><!--[if lt IE 9]><p class="ua-notification">This site works better on a newer web browser (the software you use to access the internet).</p><![endif]-->

    <nav class="skip-to">
      <a href="#content">Skip to main content</a>
    </nav>

    {% include header.html
      hide-search=true
      hide-site-nav=true%}

    <main role="main" class="fullscreen">
      <article  id="content">
          {{ content }}
      </article>
    </main>

    <!--[if lt IE 9]>
    {% asset main-ie8.js %}
    <![endif]-->

    {% asset ui-kit.js %}

    {% asset main.js %}

  </body>
</html>
