---
layout: default
breadcrumb_type: gov-au-post
---

<header class="post-header">
  <h1 class="post-title">{{ page.title }}</h1>
  <p class="post-meta">
    {{ page.author }} &mdash; {{ page.date | date: "%b %-d, %Y" }}
  </p>
</header>

<div class="abstract">
  {{ page.searchexcerpt | markdownify }}
</div>

<section class="post-body">
  {{ content }}
</div>

{% include blog-author-excerpt.html %}

{% include social-links.html %}

<section class="moderation-policy">
  <h2>Want to join the conversation?</h2>
  <a href="/blog/blog-moderation-guidelines/">Read our comment moderation guidelines</a>
</section>

<section id="disqus_thread">
  {% javascript disqus-init %}
  <noscript>Please enable JavaScript to view the comments</noscript>
</section>

<aside class="sidebar">
  {% include signup.html %}

  <a class="rss" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a>
</aside>
