---
---
<!DOCTYPE html>
<html class="no-js">
	{% include head.html %}
	<body class="home">
		{% include google-tag-manager.html %}
  <nav class="skip-to">
      <a href="#content">Skip to main content</a>
      <a href="#nav">Skip to section navigation</a>
  </nav>

		{% include header.html %}

		<div class="page-content">
			<a id="main-content" tabindex="-1"></a>

        	{{ content }}

      	</div>

	  	{% include footer.html %}

  		{% include javascript.html %}

		{% include uikit_scripts.html %}
	</body>

</html>
