---
layout: base
---

<article id="content" class="content-listing home">

  <header class="about-dta">
    <h1>Digital Transformation Agency</h1>
    <p class="abstract">We exist to make it easy for people to deal with government. We help government transform services to be simple, clear and fast.</p>
  </header>

  <section>
    <h2 class="home-heading">Latest news and blog posts</h2>
    <ul class="list-vertical--fourths">
      {% assign blog-and-news-posts = site.empty-array %}
        {% for post in site.posts %}
          {% if post.categories contains 'blog' %}
          {% assign blog-and-news-posts = blog-and-news-posts | push: post %}
          {% elsif post.categories contains 'news' %}
          {% assign blog-and-news-posts = blog-and-news-posts | push: post %}
          {% endif %}
        {% endfor %}

        {% for post in blog-and-news-posts limit:8 %}
          {% include latest-post-list-item.html post=post show-category=1 %}
        {% endfor %}
    </ul>
    <p><a class="see-more" href="/news/">See more news</a></p>
    <p><a class="see-more" href="/blog/">See more blog posts</a></p>
  </section>

  <section>
    <h2 class="home-heading">Featured products</h2>
    <ul class="list-vertical--thirds">
      {% for item in site.data.featured-products %}
      <li>
        <article>
          <div class="link">
            <a href="{{ item.url }}">
              <h3><span>{{ item.title }}</span></h3>
            </a>
          </div>
          <p>{{ item.description }}</p>
        </article>
      </li>
      {% endfor %}
    </ul>
  </section>

  <div class="homepage-footer">

    <section class="leadership">
      <h2 class="home-heading">Leadership</h2>
      <ul class="list-horizontal">

        {% for leader in site.leadership-group %}
        <li>
          <figure>
            <img src="{{site.baseurl}}{{leader.image}}" alt="{{leader.title}}">
          </figure>
          <article>
            <h3>
              {{ leader.title }}
            </h3>
            <div class="meta">
              <p>{{ leader.position }}</p>
              {{ leader.content }}
            </div>
          </article>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section class="social-media">
      <h2 class="home-heading">Social media</h2>
      <ul class="social-media-links">
        <li><a class="twitter" href="https://twitter.com/{{ site.twitter }}">Twitter</a></li>
        <li><a class="facebook" href="https://www.facebook.com/DigitalTransformationAgency">Facebook</a></li>
        <li><a class="linkedin" href="https://www.linkedin.com/company/digital-transformation-office">LinkedIn</a></li>
        <li><a class="youtube" href="https://www.youtube.com/channel/UCmDkFN3UlK2wSKDQQhd-Y-A">YouTube</a></li>
        <li><a class="slideshare" href="http://www.slideshare.net/DTO-slides">Slideshare</a></li>
      </ul>
    </section>

  </div> <!-- /homepage-footer -->
</article>
