---
layout: base
breadcrumb_type: post
---
{% if page.categories contains 'blog' %}
{% assign blog = true %}
{% else %}
{% assign blog = false %}
{% endif %}

<article id="content" class="content-main">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      {% if blog %}{{ page.author }} &mdash; {% endif %}{{ page.date | date: "%b %-d, %Y" }}
    </p>
  </header>

  <div class="abstract">
    {{ page.searchexcerpt | markdownify }}
  </div>

  <section class="post-body">
    {{ content }}
  </section>

  {% unless blog %}
  <section>
    <p>
      <em>For media enquiries, email us at <a href="mailto:media@digital.gov.au">media@digital.gov.au</a>.</em>
    </p>
  </section>
  {% endunless %}

  {% include post-author-excerpt.html %}

  {% include social-links.html %}

  <section class="post-moderation-policy">
    <h2>Want to join the conversation?</h2>
    <a href="/blog/blog-moderation-guidelines/">Read our comment moderation guidelines</a>
  </section>

  {% if blog %}
  <section id="disqus_thread">
    {% javascript disqus-init %}
    <noscript>Please enable JavaScript to view the comments</noscript>
  </section>
  {% endif %}
</article>

{% if blog %}
<aside class="sidebar blog-aside">
  {% include signup.html %}

  <a class="rss" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a>
</aside>
{% endif %}