---
layout: base
breadcrumb_type: post
---
<article  id="content" class="content-main">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      {{ page.author }} &mdash; {{ page.date | date: "%b %-d, %Y" }}
    </p>
  </header>

  <section class="post-body">
    {% if page.hero-image-alt %}
      <p>
        <img src="{{site.url}}{{ page.hero-image | asset_path}}" alt="{{ page.hero-image-alt }}">
      </p>
    {% endif %}
    {{ content }}
  </section>

  {% include post-author-excerpt.html %}

  {% include social-links.html %}

  <section class="post-moderation-policy">
    <h2>Want to join the conversation?</h2>
    <a href="/blog/blog-moderation-guidelines/">Read our comment moderation guidelines</a>
  </section>

  <section id="disqus_thread">
    {% javascript disqus-init %}
    <noscript>Please enable JavaScript to view the comments</noscript>
  </section>
</article>

<aside class="sidebar blog-aside">
  {% include signup.html %}

  <a class="rss" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a>

</aside>