---
layout: base
breadcrumb_type: post
---
{% if page.categories contains 'blog' %}
  {% assign blog = true %}
{% else %}
  {% assign blog = false %}
{% endif %}

{% if page.tags contains 'dta playback' %}
  {% assign dtaplayback = true %}
{% else %}
  {% assign dtaplayback = false %}
{% endif %}

<article id="content" class="content-main">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <p>
        {% if blog %}
          {% if dtaplayback %}
          {% else %}
            {{ page.author }} &mdash;
          {% endif %}
        {% endif %}
        {{ page.date | date: "%b %-d, %Y" }}</p>
      {% if page.tags.size > 0 %}
      {% unless page.categories contains 'ict-procurement-update' %}
      <div class="tags">
        <dl>
          <dt>Tags:</dt>
          {% assign sorted_tags = page.tags | sort %}
          {% for tag in sorted_tags %}
          {% if tag != '' %}
          <dd><a href="{{ site.baseurl }}{{site.tag_dir}}/{{tag | slugify }}/" >{{tag}}</a></dd>
          {% endif %}
          {% endfor %}
        </dl>
      </div>
      {% endunless %}
      {% endif %}
    </div>
  </header>
{% if page.lede %}
  {% if dtaplayback %}
    <div class="abstract dta-playback">
      {{ page.lede | markdownify }}
    </div>
  {% else %}
    <div class="abstract">
      {{ page.lede | markdownify }}
    </div>
  {% endif %}
{% else %}
  {% if dtaplayback %}
    <div class="abstract dta-playback">
      {{ page.searchexcerpt | markdownify }}
    </div>
  {% else %}
    <div class="abstract">
      {{ page.searchexcerpt | markdownify }}
    </div>
  {% endif %}
{% endif %}

  {% if dtaplayback %}
    <section class="post-body dta-playback">
  {% else %}
    <section class="post-body">
  {% endif %}
    {{ content }}
  </section>

  {% unless blog %}
  <section>
    <p>
      <em>For media enquiries, email us at <a href="mailto:media@digital.gov.au">media@digital.gov.au</a></em>
    </p>
  </section>
  {% endunless %}

  {% unless dtaplayback %}
    {% include post-author-excerpt.html %}
  {% endunless %}

  {% include social-links.html %}

  {% if blog %}
  <section class="post-moderation-policy">
    <h2>Want to join the conversation?</h2>
    <a href="{{site.baseurl}}/blog/blog-moderation-guidelines/">Read our comment moderation guidelines</a>
  </section>
  {% include disqus.liquid %}
  {% endif %}
</article>

{% if blog %}
<aside class="sidebar blog-aside">
  {% include signup.html %}

  <a class="rss" href="{{ "/feeds/" | prepend: site.baseurl }}">RSS feeds</a>
</aside>
{% endif %}
