---
layout: base
breadcrumb: "Tags"
searchexcerpt: "Browse our posts by topic"
---

<article id="content" class="content-main">
  {% if page.url == "/tags/" %}
  <h1>Tags</h1>
  <p>Browse our posts by topic:</p>
  <div>
    <ul class="list-small">

      {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{%
      endfor %}{% endcapture %}
      {% assign tag_words = site_tags | split:',' | sort %}

      {% for tag in tag_words %}

      {% unless tag == '' %}
      <li><a href="{{ site.baseurl }}/tags/{{ tag | slugify }}/">{%if tag=="dto-news"%}dto news{%else%}{{tag}}{%endif%}</a></li>
      {% endunless %}
      {% endfor %}
    </ul>

  </div>
  {% else %}

  {% assign numberof = page.posts | size %}
  <h1>{{ numberof }} {% if numberof == 1 %}post{% else %}posts{% endif %} tagged '{%if page.title=="dto-news"%}dto news{%else%}{{page.title}}{%endif%}'</h1>
  {% if page.title == "dto-news" %}
  <p>Archived news from the Digital Transformation Office.</p>
  {% endif %}
  <ul class="list-horizontal">

    {% for post in page.posts %}
    <li>
      {% include post-list-item.html %}
    </li>
    {% endfor %}

  </ul>
  {% endif %}
</article>


