@charset 'utf-8';

$gov-ui-kit-image-base-url: 'https://gov-au-ui-kit.apps.staging.digital.gov.au/latest/img/';

// Custom colours.

$dta-light-grey: #d6d7d6;
// Use for borders -- not accessible on $background-grey

$dta-mid-grey: #676767;
// Use for subheadings and menu titles -- accessible on $background-grey

$dta-dark-grey: #414042;
// Use for headings -- accessible on $background-grey

$dta-background-grey: #f4f4f4;
// General background grey

$dta-blue: #015a96;
// Accessible on $background-grey

$dta-blue--light: #22a0cb;

$dta-blue--lightest: #c9e9f0;

$dta-red: #d7002f;

//development phase colours
//not to be used for text. Only to be used as background with white text - minumium 20px and bold
$discovery: #912b87;
$alpha: #c52a72;
$beta: #cf4a10;
$live: #859949;


// Imports UI-Kit: https://github.com/AusDTO/gov-au-ui-kit
@import 'dto-ui-kit/assets/sass/ui-kit';

// Import partials from `partials`
@import 'partials/accordions';
@import 'partials/assessment-reports';
@import 'partials/blog';
@import 'partials/blog-share-links';
@import 'partials/buttons';
@import 'partials/contact';
@import 'partials/criteria-page-header';
@import 'partials/dss-criteria-list';
@import 'partials/dss-design-and-delivery';
@import 'partials/dss-glossary';
@import 'partials/embed';
@import 'partials/exemplars';
@import 'partials/fullscreen';
@import 'partials/guides';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/our-work-page';
@import 'partials/homepage';
@import 'partials/icons';
@import 'partials/post';
@import 'partials/recruiterbox';
@import 'partials/transformation-agenda';
@import 'partials/signup';
@import 'partials/site-search';
@import 'partials/social-media-list';
