@charset 'utf-8';

$gov-ui-kit-image-base-url: 'https://gov-au-ui-kit.apps.staging.digital.gov.au/latest/img/';

// Custom colours.

$dta-light-grey: #d6d7d6;
// Use for borders -- not accessible on $background-grey

$dta-mid-grey: #676767;
// Use for subheadings and menu titles -- accessible on $background-grey

$dta-dark-grey: #414042;
// Use for headings -- accessible on $background-grey

$dta-background-grey: #f4f4f4;
// General background grey

$dta-blue: #015a96;
// Accessible on $background-grey

$dta-blue--light: #22a0cb;

$dta-blue--lightest: #c9e9f0;

$dta-red: #d7002f;

// Imports UI-Kit: https://github.com/AusDTO/gov-au-ui-kit
@import 'dto-ui-kit/assets/sass/ui-kit';

// Import partials from `partials`
@import 'partials/blog-share-links';
@import 'partials/blog-subscribe';
@import 'partials/breadcrumb';
@import 'partials/criteria-page-header';
@import 'partials/dss-criteria-list';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/typography';
@import 'partials/our-work-page';
@import 'partials/homepage';
@import 'partials/social-media-list';
